@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-bg: #f3f4f6;
  --sidebar-text: #111827;
  --accent-color: #3b82f6;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --sidebar-bg: #1f2937;
    --sidebar-text: #f9fafb;
    --accent-color: #60a5fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

